.DS_Store
*.code-workspace
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
# However, in case of collaboration, if having platform-specific dependencies or dependencies
# having no cross-platform support, pipenv may install dependencies that don't work, or not
# install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
Makefile
Makefile.in
*.cmake
*.txt
*.doc
*.docx
*.odt
*.pdf
*.xls
*.xlsx
*.ppt
*.pptx
*.rtf
*.csv
*.tsv
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.tif
*.tiff
*.mp3
*.wav
*.mp4
*.avi
*.mov
*.flv
*.wmv
*.swf
*.zip
*.rar
*.gz
*.tar.gz
*.tar.bz2
*.7z
*.exe
*.dll
*.jar
*.war
*.ear
*.hprof
*.hs_err_pid*
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.komodoproject
.komodotools/
_site/
*.swp
*.swo
*.swa
*.swm
*.swl
*.swb
*.swc
*.swf
*.swg
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*.swq
*.swr
*.sws
*.swt
*.swu
*.swv
*.sww
*.swx
*.swy
*.swz
*.sxa
*.sxb
*.sxc
*.sxd
*.sxe
*.sxf
*.sxg
*.sxh
*.sxi
*.sxj
*.sxk
*.sxl
*.sxm
*.sxn
*.sxo
*.sxp
*.sxq
*.sxr
*.sxs
*.sxt
*.sxu
*.sxv
*.sxw
*.sxx
*.sxy
*.sxz
*.sy0
*.sy1
*.sy2
*.sy3
*.sy4
*.sy5
*.sy6
*.sy7
*.sy8
*.sy9
*.sya
*.syb
*.syc
*.syd
*.sye
*.syf
*.syg
*.syh
*.syi
*.syj
*.syk
*.syl
*.sym
*.syn
*.syo
*.syp
*.syq
*.syr
*.sys
*.syt
*.syu
*.syv
*.syw
*.syx
*.syy
*.syz
*.sz0
*.sz1
*.sz2
*.sz3
*.sz4
*.sz5
*.sz6
*.sz7
*.sz8
*.sz9
*.sza
*.szb
*.szc
*.szd
*.sze
*.szf
*.szg
*.szh
*.szi
*.szj
*.szk
*.szl
*.szm
*.szn
*.szo
*.szp
*.szq
*.szr
*.szs
*.szt
*.szu
*.szv
*.szw
*.szx
*.szy
*.szz
*.t00
*.t01
*.t02
*.t03
*.t04
*.t05
*.t06
*.t07
*.t08
*.t09
*.t0a
*.t0b
*.t0c
*.t0d
*.t0e
*.t0f
*.t0g
*.t0h
*.t0i
*.t0j
*.t0k
*.t0l
*.t0m
*.t0n
*.t0o
*.t0p
*.t0q
*.t0r
*.t0s
*.t0t
*.t0u
*.t0v
*.t0w
*.t0x
*.t0y
*.t0z
*.t10
*.t11
*.t12
*.t13
*.t14
*.t15
*.t16
*.t17
*.t18
*.t19
*.t1a
*.t1b
*.t1c
*.t1d
*.t1e
*.t1f
*.t1g
*.t1h
*.t1i
*.t1j
*.t1k
*.t1l
*.t1m
*.t1n
*.t1o
*.t1p
*.t1q
*.t1r
*.t1s
*.t1t
*.t1u
*.t1v
*.t1w
*.t1x
*.t1y
*.t1z
*.t20
*.t21
*.t22
*.t23
*.t24
*.t25
*.t26
*.t27
*.t28
*.t29
*.t2a
*.t2b
*.t2c
*.t2d
*.t2e
*.t2f
*.t2g
*.t2h
*.t2i
*.t2j
*.t2k
*.t2l
*.t2m
*.t2n
*.t2o
*.t2p
*.t2q
*.t2r
*.t2s
*.t2t
*.t2u
*.t2v
*.t2w
*.t2x
*.t2y
*.t2z
*.t30
*.t31
*.t32
*.t33
*.t34
*.t35
*.t36
*.t37
*.t38
*.t39
*.t3a
*.t3b
*.t3c
*.t3d
*.t3e
*.t3f
*.t3g
*.t3h
*.t3i
*.t3j
*.t3k
*.t3l
*.t3m
*.t3n
*.t3o
*.t3p
*.t3q
*.t3r
*.t3s
*.t3t
*.t3u
*.t3v
*.t3w
*.t3x
*.t3y
*.t3z
*.t40
*.t41
*.t42
*.t43
*.t44
*.t45
*.t46
*.t47
*.t48
*.t49
*.t4a
*.t4b
*.t4c
*.t4d
*.t4e
*.t4f
*.t4g
*.t4h
*.t4i
*.t4j
*.t4k
*.t4l
*.t4m
*.t4n
*.t4o
*.t4p
*.t4q
*.t4r
*.t4s
*.t4t
*.t4u
*.t4v
*.t4w
*.t4x
*.t4y
*.t4z
*.t50
*.t51
*.t52
*.t53
*.t54
*.t55
*.t56
*.t57
*.t58
*.t59
*.t5a
*.t5b
*.t5c
*.t5d
*.t5e
*.t5f
*.t5g
*.t5h
*.t5i
*.t5j
*.t5k
*.t5l
*.t5m
*.t5n
*.t5o
*.t5p
*.t5q
*.t5r
*.t5s
*.t5t
*.t5u
*.t5v
*.t5w
*.t5x
*.t5y
*.t5z
*.t60
*.t61
*.t62
*.t63
*.t64
*.t65
*.t66
*.t67
*.t68
*.t69
*.t6a
*.t6b
*.t6c
*.t6d
*.t6e
*.t6f
*.t6g
*.t6h
*.t6i
*.t6j
*.t6k
*.t6l
*.t6m
*.t6n
*.t6o
*.t6p
*.t6q
*.t6r
*.t6s
*.t6t
*.t6u
*.t6v
*.t6w
*.t6x
*.t6y
*.t6z
*.t70
*.t71
*.t72
*.t73
*.t74
*.t75
*.t76
*.t77
*.t78
*.t79
*.t7a
*.t7b
*.t7c
*.t7d
*.t7e
*.t7f
*.t7g
*.t7h
*.t7i
*.t7j
*.t7k
*.t7l
*.t7m
*.t7n
*.t7o
*.t7p
*.t7q
*.t7r
*.t7s
*.t7t
*.t7u
*.t7v
*.t7w
*.t7x
*.t7y
*.t7z
*.t80
*.t81
*.t82
*.t83
*.t84
*.t85
*.t86
*.t87
*.t88
*.t89
*.t8a
*.t8b
*.t8c
*.t8d
*.t8e
*.t8f
*.t8g
*.t8h
*.t8i
*.t8j
*.t8k
*.t8l
*.t8m
*.t8n
*.t8o
*.t8p
*.t8q
*.t8r
*.t8s
*.t8t
*.t8u
*.t8v
*.t8w
*.t8x
*.t8y
*.t8z
*.t90
*.t91
*.t92
*.t93
*.t94
*.t95
*.t96
*.t97
*.t98
*.t99
*.t9a
*.t9b
*.t9c
*.t9d
*.t9e
*.t9f
*.t9g
*.t9h
*.t9i
*.t9j
*.t9k
*.t9l
*.t9m
*.t9n
*.t9o
*.t9p
*.t9q
*.t9r
*.t9s
*.t9t
*.t9u
*.t9v
*.t9w
*.t9x
*.t9y
*.t9z
*.ta0
*.ta1
*.ta2
*.ta3
*.ta4
*.ta5
*.ta6
*.ta7
*.ta8
*.ta9
*.taa
*.tab
*.tac
*.tad
*.tae
*.taf
*.tag
*.tah
*.tai
*.taj
*.tak
*.tal
*.tam
*.tan
*.tao
*.tap
*.taq
*.tar
*.tas
*.tat
*.tau
*.tav
*.taw
*.tax
*.tay
*.taz
*.tb0
*.tb1
*.tb2
*.tb3
*.tb4
*.tb5
*.tb6
*.tb7
*.tb8
*.tb9
*.tba
*.tbb
*.tbc
*.tbd
*.tbe
*.tbf
*.tbg
*.tbh
*.tbi
*.tbj
*.tbk
*.tbl
*.tbm
*.tbn
*.tbo
*.tbp
*.tbq
*.tbr
*.tbs
*.tbt
*.tbu
*.tbv
*.tbw
*.tbx
*.tby
*.tbz
*.tc0
*.tc1
*.tc2
*.tc3
*.tc4
*.tc5
*.tc6
*.tc7
*.tc8
*.tc9
*.tca
*.tcb
*.tcc
*.tcd
*.tce
*.tcf
*.tcg
*.tch
*.tci
*.tcj
*.tck
*.tcl
*.tcm
*.tcn
*.tco
*.tcp
*.tcq
*.tcr
*.tcs
*.tct
*.tcu
*.tcv
*.tcw
*.tcx
*.tcy
*.tcz
*.td0
*.td1
*.td2
*.td3
*.td4
*.td5
*.td6
*.td7
*.td8
*.td9
*.tda
*.tdb
*.tdc
*.tdd
*.tde
*.tdf
*.tdg
*.tdh
*.tdi
*.tdj
*.tdk
*.tdl
*.tdm
*.tdn
*.tdo
*.tdp
*.tdq
*.tdr
*.tds
*.tdt
*.tdu
*.tdv
*.tdw
*.tdx
*.tdy
*.tdz
*.te0
*.te1
*.te2
*.te3
*.te4
*.te5
*.te6
*.te7
*.te8
*.te9
*.tea
*.teb
*.tec
*.ted
*.tee
*.tef
*.teg
*.teh
*.tei
*.tej
*.tek
*.tel
*.tem
*.ten
*.teo
*.tep
*.teq
*.ter
*.tes
*.tet
*.teu
*.tev
*.tew
*.tex
*.tey
*.tez
*.tf0
*.tf1
*.tf2
*.tf3
*.tf4
*.tf5
*.tf6
*.tf7
*.tf8
*.tf9
*.tfa
*.tfb
*.tfc
*.tfd
*.tfe
*.tff
*.tfg
*.tfh
*.tfi
*.tfj
*.tfk
*.tfl
*.tfm
*.tfn
*.tfo
*.tfp
*.tfq
*.tfr
*.tfs
*.tft
*.tfu
*.tfv
*.tfw
*.tfx
*.tfy
*.tfz
*.tg0
*.tg1
*.tg2
*.tg3
*.tg4
*.tg5
*.tg6
*.tg7
*.tg8
*.tg9
*.tga
*.tgb
*.tgc
*.tgd
*.tge
*.tgf
*.tgg
*.tgh
*.tgi
*.tgj
*.tgk
*.tgl
*.tgm
*.tgn
*.tgo
*.tgp
*.tgq
*.tgr
*.tgs
*.tgt
*.tgu
*.tgv
*.tgw
*.tgx
*.tgy
*.tgz
*.th0
*.th1
*.th2
*.th3
*.th4
*.th5
*.th6
*.th7
*.th8
*.th9
*.tha
*.thb
*.thc
*.thd
*.the
*.thf
*.thg
*.thh
*.thi
*.thj
*.thk
*.thl
*.thm
*.thn
*.tho
*.thp
*.thq
*.thr
*.ths
*.tht
*.thu
*.thv
*.thw
*.thx
*.thy
*.thz
*.ti0
*.ti1
*.ti2
*.ti3
*.ti4
*.ti5
*.ti6
*.ti7